*  {
  padding:0px;
  margin: 0px;
  box-sizing: border-box;
}

body{
    background: 
    /* top, transparent red, faked with gradient */ 
    linear-gradient(
      rgba(241, 249, 253, 0.726), 
      rgba(252, 250, 250, 0.966)
    ),
    /* bottom, image */
    url(./images/paul.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

header  {
    background-color: #337AB7;
}

li  {
    list-style: none;
    width: 120px;
    font-family: 'Montserrat', sans-serif;
    font-weight:  400;
    
}

a   {
    text-decoration: none;
    color: white;
    display: block;
    text-align: center;
}

.navigationbar  {
    min-height: 70px;
    justify-content: space-between;
    display: flex;
    padding: 0 24px;
    align-items:center
}


.nav-menu   {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    text-decoration: none;
}

.nav-link    {
    transition: 0.7s ease;
    text-decoration: none;
}


.nav-link:hover{
    color: rgb(8, 119, 247);
    background-color: white;
    border: 0px solid white;
    font-weight: 500;
    width: 130px;
    text-decoration: none;
    display: block;
    border-radius: 10px;
    padding: 5px;
}


.hamburger      {
   display: none;
    cursor: pointer;
}

.bars    {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}

.textpsyche  {
    font-size: 2rem;
    padding-left: 10px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    cursor: pointer;
}


.introduction {
   
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }
  


.image {
    width: 30%;
    height: 30%;
    border-radius: 50%;
    margin-top: 30px;
}

.name  {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    width: 60%;
    font-size: 2em;
    padding: 10px;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.introp   {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-style: italic;
    width: 60%;
    justify-content: center;
    text-align: left;
    align-items: center;
    font-size: 14px;
    padding: 20px;
}

.namenpara  {
    display: block;
    width: 60%;
}

 p    {
    padding: 10px;
    line-height: 30px;
}

 .hobbieslists  {
    display: block;
    text-align:center ;
    justify-content: center;
    padding-right: 15px;
    font-weight: 400;
    margin-top: 10px;
    font-family: 'Montserrat', sans-serif;
    align-items: center;
    margin: auto;
    line-height: 30px;
    list-style-type: square;
    
}

.hobbies    {
    align-items: center;
    justify-content: center;
    background-color:rgba(180, 203, 223, 0.096);
    width: 20%;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0.4px 0.4px ;
    text-align: center;
    
}

.subtexts   {
    font-family:'Montserrat', sans-serif; 
    font-weight: 500;
    font-size: 30px;
    color: rgb(35, 130, 255);
    text-align: center;
}

.otherinfo  {
    display: flex;
    margin: 30px;
    justify-content: space-evenly;
}

.contact        {
    display: grid;
    place-content: center;
    color: white;
    background-color: rgb(35, 130, 255);
    text-align: center;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 20px;
    padding: 15px;
    border: 0px ;
    width: 20%;
    font-family:'Montserrat', sans-serif; 
    font-weight: 400;
    font-size: 25px;
    border-radius: 10px;

}


.activelink  {
    border-radius: 6px;
    color: white !important;
    font-weight: 700;
    text-decoration: underline;
}

    

form {
display: grid;
height: 100%;

}

.contactform        {
    background-color: rgba(216, 231, 253, 0.5);
    width: 50%;
    justify-content: center;
    margin: 10% auto;
    justify-content: center;
    align-items: center;
    padding: 25px;
    
}

/*.formfill       {
    margin-top: 0px;
}
*/



    label {
        display: block;
        width: 60%;
        margin: 6% 0 1% 0;
        font-size: 15px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        font-style: semi-bold;
        padding-bottom: 10px;
        text-align: left;
        /* padding-right: 50px; */
    }
  .send  {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 2em;
    padding: 10px;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: 8px;
}


.undertext {
    display: block;
    padding-top: 5px;
    word-spacing: 1px;
    font-size: 7px;
    font-family: Montserrat, sans-serif;
    font-weight: 300;
    /* margin: 0px auto; */
    text-align: left;
    /* padding-right: 30em; */
    width: 100%;
}
  
  input, select, option {
    border-radius: 5px;
    border: 1px rgb(255, 255, 255);
    /*box-sizing: border-box;*/
    padding: 15px;
    font-family:'Montserrat', sans-serif; 
    font-weight: 300;
    font-size: 15px;
    font-style: italic;
    width: 100%;
   margin:0 auto;
   display: block;
  /* place-content: center;*/
   border-style: hidden;
   outline: none;

  }


  textarea      {
      display: block;
    padding: 15px;
    font-family:'Montserrat', sans-serif; 
    font-weight: 300;
    font-size: 7px;
    font-style: italic;
    width: 100%;
   margin: 30px auto;
   border-radius: 5px;
    border: 1px rgb(216, 215, 215) solid;
   /* height: 200px;*/
    justify-content: center;
    align-items: center;

  }


  .contactbtn   {
     width: 60%;
      padding: 10px;
      display: grid;
    place-content: center;
    color: white;
    background-color: rgb(35, 130, 255);
    text-align: center;
    margin-bottom: 20px;
    border: 0px ;
    font-family:'Montserrat', sans-serif; 
    font-weight: 400;
    font-size: 25px;
    border-radius: 10px;
    margin: 40px auto;
    
  }


  .register1 {
    display: flex;
    align-items: center;
    justify-content: center;
   
}

 /*.regform5  {

    width: 48%;
    margin: auto;
}*/

  .phonereg     {
      display: block;
      width: 48%;
      margin:  15px auto;
  }

  input:focus   {
      border: 0.2px solid #337AB7;
      
      box-shadow:0.1px 0.1px 0.7px #337AB7;
  }

  select, textarea:focus   {
    border: 0.2px solid #337AB7;
    
    box-shadow:0.1px 0.1px 0.7px #337AB7;
}


.regformlabel2 {
    display: block;
    width: 48%;
   /* margin: 3% auto 0% auto;*/
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-style: semi-bold;
    padding-bottom: 10px;
    text-align: left;
    /* padding-right: 250px; */
}
  
  

  
  




  @media (max-width:400px)      {

    .hamburger      {
        display: block;
     }

     .hamburger.active .bars:nth-child(2){
         opacity: 0;
     }

     .hamburger.active .bars:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bars:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu   {
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: #337AB7;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }

    .nav-item   {
        margin: 16px 0;
    }

    .nav-menu.active    {
        left: 0;
    }
   


    .introduction {
   
        display: block;
        justify-content: center;
        align-items: center;
        padding: 10px;
      }
      
    
    
    .image {
        width: 80%;
        height: 80%;
        border-radius: 50%;
        margin: 30px auto;
        display: block;
        justify-content: center;
        align-items: center;
        
  }

  .name, .send  {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
   width: 100%;
    font-size: 2em;
    padding: 10px;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.introp   {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-style: italic;
    width: 100%;
    justify-content: center;
    text-align: left;
    align-items: center;
    font-size: 10px;
    padding: 20px;
}


.namenpara  {
    display: block;
    width: 100%;
}

.otherinfo  {
    display: flex;
    flex-wrap: wrap;
    margin: 30px auto;
    justify-content: space-evenly;
}

.hobbies    {
    align-items: center;
    justify-content: center;
    background-color:rgba(180, 203, 223, 0.096);
    width: 80%;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0.4px 0.4px ;
    text-align: center;
    margin:30px auto;
    
}

.contact        {
    display: grid;
    place-content: center;
    color: white;
    background-color: rgb(35, 130, 255);
    text-align: center;
    margin: auto;
   /* margin-top: 80px;*/
    margin-bottom: 40px;
    padding: 15px;
    border: 0px ;
    width: 80%;
    font-family:'Montserrat', sans-serif; 
    font-weight: 400;
    font-size: 25px;
    border-radius: 10px;

}

form    {
    display: block;
}

.contactform        {
    padding: 3px;
    padding-right: 0px;
    background-color: rgba(216, 231, 253, 0.5);
    width: 70%;
    justify-content: center;
    margin: 20% auto;
    justify-content: center;
    align-items: center;
}


input   {
    border-radius: 5px;
    border: 1px rgb(255, 255, 255);
    /* box-sizing: border-box; */
    padding: 8px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 7px;
    font-style: italic;
    width: 80%;
    margin: 0 auto;
    display: block;
    /* place-content: center; */
    border-style: hidden;
    outline: none;
}

.undertext  {
    display: block;
    padding-top: 5px;
    word-spacing: 1px;
    font-size: 7px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    margin: 0 auto 30px auto;
    /* text-align: center; */
    padding-right: 6em;
    width: 80%;

}

label {
    display: block;
    width: 80%;
    margin: 8% auto 0% auto;
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-style: semi-bold;
    padding-bottom: 10px;
    /* text-align: center; */
    padding-right: 50px;
}

textarea {
    display: block;
    padding: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 7px;
    font-style: italic;
    width: 80%;
    margin: 30px auto;
    border-radius: 5px;
    border: 1px rgb(216, 215, 215) solid;
    /* height: 200px; */
    justify-content: center;
    align-items: center;
    outline: none;
}

.contactbtn {
    width: 80%;
    padding: 8px;
    display: grid;
    place-content: center;
    color: white;
    background-color: rgb(35, 130, 255);
    text-align: center;
    margin-bottom: 20px;
    border: 0px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 15px;
    border-radius: 10px;
    margin: 40px auto;
}




.register1   {
    display: block;
    align-items: center;
    justify-content: center;
}

.regformlabel2 {
    display: block;
    width: 80%;
   /* margin: 3% auto 0% auto;*/
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-style: semi-bold;
    padding-bottom: 10px;
    text-align: left;
    /* padding-right: 250px; */
}

.phonereg {
    display: block;
    width: 100%;
    margin: 15px auto;
}

select      {
    width: 80%;
    padding: 8px;
}

}


@media  (min-width: 400px) and (max-width:520px)      {

    .hamburger      {
        display: block;
     }

     .hamburger.active .bars:nth-child(2){
         opacity: 0;
     }

     .hamburger.active .bars:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bars:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu   {
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: #337AB7;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }

    .nav-item   {
        margin: 16px 0;
    }

    .nav-menu.active    {
        left: 0;
    }
   

    .introduction {
   
        display: block;
        justify-content: center;
        align-items: center;
        padding: 10px;
      }
      
    
    
    .image {
        width: 80%;
        height: 80%;
        border-radius: 50%;
        margin: 30px auto;
        display: block;
        justify-content: center;
        align-items: center;
        
  }

  .name  {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
   width: 100%;
    font-size: 2em;
    padding: 10px;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.introp   {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-style: italic;
    width: 100%;
    justify-content: center;
    text-align: left;
    align-items: center;
    font-size: 10px;
    padding: 20px;
}


.namenpara  {
    display: block;
    width: 100%;
}

.otherinfo  {
    display: flex;
    flex-wrap: wrap;
    margin: 30px auto;
    justify-content: space-evenly;
}

.hobbies    {
    align-items: center;
    justify-content: center;
    background-color:rgba(180, 203, 223, 0.096);
    width: 80%;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0.4px 0.4px ;
    text-align: center;
    margin:30px auto;
    
}
.contact        {
    display: grid;
    place-content: center;
    color: white;
    background-color: rgb(35, 130, 255);
    text-align: center;
    margin: auto;
   /* margin-top: 80px;*/
    margin-bottom: 40px;
    padding: 15px;
    border: 0px ;
    width: 80%;
    font-family:'Montserrat', sans-serif; 
    font-weight: 400;
    font-size: 25px;
    border-radius: 10px;

}

form    {
    display: block;
}

.contactform        {
    padding: 3px;
    padding-right: 0px;
    background-color: rgba(216, 231, 253, 0.5);
    width: 70%;
    justify-content: center;
    margin: 20% auto;
    justify-content: center;
    align-items: center;
}


input   {
    border-radius: 5px;
    border: 1px rgb(255, 255, 255);
    /* box-sizing: border-box; */
    padding: 8px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 7px;
    font-style: italic;
    width: 80%;
    margin: 0 auto;
    display: block;
    /* place-content: center; */
    border-style: hidden;
    outline: none;
}

.undertext  {
    display: block;
    padding-top: 5px;
    word-spacing: 1px;
    font-size: 7px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    margin: 0 auto 30px auto;
    /* text-align: center; */
    padding-right: 6em;
    width: 80%;

}

label {
    display: block;
    width: 80%;
    margin: 8% auto 0% auto;
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-style: semi-bold;
    padding-bottom: 10px;
    /* text-align: center; */
    padding-right: 50px;
}

textarea {
    display: block;
    padding: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 7px;
    font-style: italic;
    width: 80%;
    margin: 30px auto;
    border-radius: 5px;
    border: 1px rgb(216, 215, 215) solid;
    /* height: 200px; */
    justify-content: center;
    align-items: center;
    outline: none;
}

.contactbtn {
    width: 80%;
    padding: 8px;
    display: grid;
    place-content: center;
    color: white;
    background-color: rgb(35, 130, 255);
    text-align: center;
    margin-bottom: 20px;
    border: 0px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 15px;
    border-radius: 10px;
    margin: 40px auto;
}


.regform2 {
    border-radius: 5px;
    border: 1px rgb(255, 255, 255);
    box-sizing: border-box;
    padding: 8px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 7px;
    font-style: italic;
    width: 80%;
    margin: 0 auto 0 auto;
    display: block;
    border-style: hidden;
    outline: none;
}

.regformlabel2 {
    display: block;
    width: 80%;
    margin: 8% auto 0% auto;
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-style: semi-bold;
    padding-bottom: 10px;
    text-align: left;
    padding-right: 0px;
}

.regform1 {
    border-radius: 5px;
    border: 1px rgb(255, 255, 255);
    box-sizing: border-box;
    padding: 8px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 7px;
    font-style: italic;
    width: 80%;
    margin: 0 auto 0 auto;
    display: block;
    border-style: hidden;
    outline: none;
}

.regformlabel1 {
    display: block;
    width: 80%;
    margin: 8% auto 0% auto;
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-style: semi-bold;
    padding-bottom: 10px;
    text-align: left;
    padding-left: 0px;
}

.regform3 {
    border-radius: 5px;
    border: 1px rgb(255, 255, 255);
    box-sizing: border-box;
    padding: 8px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 7px;
    font-style: italic;
    width: 80%;
    margin: 0 auto 0 auto;
    display: block;
    border-style: hidden;
    outline: none;
}

.regformlabel3 {
    display: block;
    width: 80%;
    margin: 8% auto 0% auto;
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-style: semi-bold;
    padding-bottom: 10px;
    text-align: left;
    padding-left: 0px;
}

.regform4 {
    border-radius: 5px;
    border: 1px rgb(255, 255, 255);
    box-sizing: border-box;
    padding: 8px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 7px;
    font-style: italic;
    width: 80%;
    margin: 0 auto 0 auto;
    display: block;
    border-style: hidden;
    outline: none;
}

.regformlabel4 {
    display: block;
    width: 80%;
    margin: 8% auto 0% auto;
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-style: semi-bold;
    padding-bottom: 10px;
    text-align: left;
    padding-left: 25px;
}

.register   {
    display: block;
}


}



@media (min-width:530px) and (max-width:800px)     {

    .hamburger      {
        display: block;
     }

     .hamburger.active .bars:nth-child(2){
         opacity: 0;
     }

     .hamburger.active .bars:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bars:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu   {
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: #337AB7;
        width: 100%;
        text-align: center;
        transition: 0.3s;

    }

    .nav-item   {
        margin: 16px 0;
    }

    .nav-menu.active    {
        left: 0;
        border: white 1px solid;
    }
   
    .introduction {
   
        display: block;
        justify-content: center;
        align-items: center;
        padding: 10px;
      }
      
    
    
    .image {
        width: 60%;
        height: 60%;
        border-radius: 50%;
        margin: 30px auto;
        display: block;
        justify-content: center;
        align-items: center;
        
  }

  .name  {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
   width: 100%;
    font-size: 2em;
    padding: 10px;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.introp   {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-style: italic;
    width: 100%;
    justify-content: center;
    text-align: left;
    align-items: center;
    font-size: 13px;
    padding: 20px;
}


.namenpara  {
    display: block;
    width: 100%;
}

.otherinfo  {
    display: flex;
    flex-wrap: wrap;
    margin: 30px auto;
    justify-content: space-evenly;
}

.hobbies    {
    align-items: center;
    justify-content: center;
    background-color:rgba(180, 203, 223, 0.096);
    width: 40%;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0.4px 0.4px ;
    text-align: center;
    margin:30px auto;
    
}

.contact        {
    display: grid;
    place-content: center;
    color: white;
    background-color: rgb(35, 130, 255);
    text-align: center;
    margin: auto;
   /* margin-top: 80px;*/
    margin-bottom: 40px;
    padding: 15px;
    border: 0px ;
    width: 80%;
    font-family:'Montserrat', sans-serif; 
    font-weight: 400;
    font-size: 25px;
    border-radius: 10px;

}

form    {
    display: block;
}

.contactform        {
    padding: 3px;
    padding-right: 0px;
    background-color: rgba(216, 231, 253, 0.5);
    width: 70%;
    justify-content: center;
    margin: 20% auto;
    justify-content: center;
    align-items: center;
}


input   {
    border-radius: 5px;
    border: 1px rgb(255, 255, 255);
    /* box-sizing: border-box; */
    padding: 13px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 7px;
    font-style: italic;
    width: 80%;
    margin: 0 auto;
    display: block;
    /* place-content: center; */
    border-style: hidden;
    outline: none;
}

.undertext {
    display: block;
    padding-top: 5px;
    word-spacing: 1px;
    font-size: 7px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    margin: 0 auto 30px auto;
    text-align: left;
    /* padding-right: 20em; */
    width: 80%;
}

label {
    display: block;
    width: 80%;
    margin: 8% auto 0% auto;
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-style: semi-bold;
    padding-bottom: 10px;
    /* text-align: center; */
    padding-right: 50px;
}

textarea {
    display: block;
    padding: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 7px;
    font-style: italic;
    width: 80%;
    margin: 30px auto;
    border-radius: 5px;
    border: 1px rgb(216, 215, 215) solid;
    /* height: 200px; */
    justify-content: center;
    align-items: center;
    outline: none;
}

.contactbtn {
    width: 80%;
    padding: 8px;
    display: grid;
    place-content: center;
    color: white;
    background-color: rgb(35, 130, 255);
    text-align: center;
    margin-bottom: 20px;
    border: 0px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 15px;
    border-radius: 10px;
    margin: 40px auto;
}



}


@media  (min-width:820px) and (max-width:950px) {

    .hobbies    {
        width: 40%;
        margin: 20px;
    }

   /* form {
       /* display: grid;
        height: 100%;
        place-content: center;
    }*/

    .otherinfo {
        display: flex;
        flex-wrap: wrap;
        margin: 30px;
        justify-content: space-evenly;
    }

    .contact {
        display: grid;
        place-content: center;
        color: white;
        background-color: rgb(35, 130, 255);
        text-align: center;
        margin: auto;
        margin-top: 80px;
        margin-bottom: 20px;
        padding: 15px;
        border: 0px;
        width: 40%;
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        font-size: 25px;
        border-radius: 10px;
    }

    .undertext {
    display: block;
    padding-top: 5px;
    word-spacing: 3px;
    font-size: 7px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    margin: 0 auto;
    text-align: left;
    padding-right: 10em;
    width: 100%;
}

    .regform4 {
        border-radius: 5px;
        border: 1px rgb(255, 255, 255);
        box-sizing: border-box;
        padding: 15px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 300;
        font-size: 7px;
        font-style: italic;
        width: 40%;
        margin: 0 auto 0 auto;
        display: grid;
        place-content: center;
        justify-content: center;
        align-items: center;
        border-style: hidden;
        outline: none;
    }

    .regform4 {
        border-radius: 5px;
        border: 1px rgb(255, 255, 255);
        box-sizing: border-box;
        padding: 15px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 300;
        font-size: 7px;
        font-style: italic;
        width: 40%;
        margin: 0 auto 0 auto;
        /* place-content: center; */
        /* justify-content: center; */
        /* align-items: center; */
        border-style: hidden;
        outline: none;
    }


    .regform3 {
        border-radius: 5px;
        border: 1px rgb(255, 255, 255);
        box-sizing: border-box;
        padding: 15px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 300;
        font-size: 7px;
        font-style: italic;
        width: 40%;
        margin: 0 auto 0 auto;
        /* place-content: center; */
        /* justify-content: center; */
        /* align-items: center; */
        border-style: hidden;
        outline: none;
}

.register {
    display: flex;
    width: 100%;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.contactform        {
    background-color: rgba(216, 231, 253, 0.5);
    width: 70%;
    justify-content: center;
    margin: 10% auto;
    justify-content: center;
    align-items: center;
    padding: 25px;
    
}

}







@media  (min-width:250px) and (max-width:390px) {

    .undertext {
        display: block;
        padding-top: 5px;
        word-spacing: 1px;
        font-size: 7px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 300;
        margin: 0 auto 30px auto;
        text-align: center;
        padding-right: 6em;
        width: 100%;
    }

}


@media  (min-width:1020px) and (max-width:1024px) {

    .undertext {
        display: block;
        padding-top: 5px;
        word-spacing: 3px;
        font-size: 7px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 300;
        /* margin: 0 auto; */
        text-align: left;
        padding-right: 20em;
        width: 80%;
    }
}